body {
  margin-top: 70px;
  font-family: "Myriad", sans-serif;
}

@font-face {
  font-family: Myriad;
  src: url(../fonts/MyriadPro-Regular.otf);
}

@font-face {
  font-family: Pacifico;
  src: url(../fonts/Pacifico-Regular.ttf);
}

@font-face {
  font-family: CenturyGothic;
  src: url(../fonts/CenturyGothic-Regular.ttf);
}

/*Navbar styles*/

.easy-word,
.sky-word {
  font-size: 45px;
  color: #f7f265;
  font-family: "Pacifico", sans-serif;
  text-shadow: 1px 1px 1px #0b4d6a;
}

.sky-word {
  color: #65d0f7;
}

.navbar-brand {
  display: block;
  background: url(../images/logo.svg) center center no-repeat;
  width: 200px;
  height: 50px;
  padding-left: 20px;
}

.navbar-brand a {
  text-decoration: none; !important
}

.navbar--style {
  background-color: #bdc4c8;
  border-color:   #bdc4c8;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  text-shadow: 0.25px 0.25px 0.25px #48686f;  
  background-color: #bdc4c8; !important
}

.navbar-options {
  padding: 10px 0;  
}

.navbar-brand,
.navbar-right--options {
  font-size: 1.5em;
  }

.navbar-collapse .navbar-right--options > li > a {
  color: #ffffff;
}

/*Carousel*/

.section_home {
  position: relative;
}

#easyskyCarousel .item {
  height: 700px;
}

#slide1 {
  padding: 200px 0px; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../images/consularcare-assistance-1920.jpg);
}

/*Carousel-content*/

.container--home {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container--home h1,
.container--home h2 {
  text-align: center;
  color: #ffffff;
  text-shadow: 1px 1px 1px #1b404b;
  font-family: "CenturyGothic"  , sans-serif;
}

.container--home h1 {
  font-size: 7em;
}

.container--home h2 {
  font-size: 2.5em;
}

/*How it works section*/

.how-section {
  background-color: #dbdfe1;
  
  text-align: center;
}

.container-fluid {
  padding: 0;
}

.wrapper-head {
  background: #0a887b;
  height: auto;
  border-bottom: 25px solid #859098;
  padding: 30px 0;
  
}

.wrapper-h2 h2 {
  margin: 0;
  font-size: 3.8em;
  color: white;
  text-align: center;
}

.row-comp-info {
  padding: 30px 0;
}

.how-section__image {
  margin-bottom: 10px;
  width: 150px;
  display: inline-block;
  text-align: center;
}

.how-image--2 {
  margin-left: 26px;
}

.circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: white;
  line-height: 150px;
  display: inline-block;
  text-align: center;
}

.how-section__info {
  font-size: 20px;
}

/*Section info*/

.section_info {
  padding: 30px 0 0 0;
}

.table-cont {
  padding: 30px 0;
}

.table {
  margin-bottom: 0;
}

.table--info {
  font-size: 1.5em;
}

.table--info td:nth-child(3) {
  text-align: center;
}

.comp-info {
  background: #dbdfe1;
}

.wrapper-info {
  height: auto;
  padding: 30px 0;
  background: #bdc4c8;
  text-align: center;
  font-size: 1.8em;
}

.check-circle {
  font-size: 1.5em;
}

.bullet-hand {
  position: absolute;
  margin-left: -50px;
}

a {
  color: #11524b;
}

a:hover {
  color: #0a887b;
  text-decoration: none;
}

.wrapper-info__footer {
  background: black;
  color: white;
  padding: 20px 0 10px;
}

/*Section about us*/

.section_about_us {
  
}

.about-us__info {
  padding: 50px 0px; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-image: url(../images/about-us-img-1920.jpg);
}

.hand-logo {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-image: url(../images/logo-with-hand.svg);
  height: 600px;
  margin: auto;
  width: 50%;
}

/*Section contacts*/

.section_contacts {
  background-color: #dbdfe1;
  font-size: 2em;
  padding: 30px 0;
}

.section_contacts h2 {
  font-size: 1.5em;
  margin: 0 0 20px 0;
}


/*Footer styles and social buttons*/

.footer {
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}

.footer--style {
  background-color: #bdc4c8;
  height: auto;
}

.social-buttons {
  padding-left: 0;
  margin-top: 25px;
}

.social-buttons > li {
  display: inline-block;
  margin-right: 15px;
}

.credits {
  float: right;
  margin-top: 25px;
}

/*Responsive text on all page (depending on different screen width) */

@media all and (max-width: 1200px) { /* screen size until 1200px */
  body {
    font-size: 1.5em; /* 1.5x default size */
  }
}

@media all and (max-width: 1000px) { /* screen size until 1000px */
  body {
    font-size: 1.2em; /* 1.2x default size */
  }
  
  .navbar-header p {
    visibility: hidden;
  }
  
  .navbar-brand {
    width: 160px;
  }
  
  #easyskyCarousel .item {
    height: 600px;
  }
  
  #slide1 {
    padding: 100px 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    max-width: 100%;
    height: auto;
    background-image: 
      linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url(../images/consularcare-assistance-small-1000.jpg);
    background-attachment: scroll;
  }
  
  .col__border {
    border-right: none;
  }
  
  .about-us__info {
  padding: 50px 0px; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-image: url(../images/about-us-img-1000.jpg);
  }

}

@media all and (max-width: 767px) {
  .about-us__info {
  padding: 50px 0px; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-image: url(../images/about-us-img-1000.jpg);
  }
  
  .bullet-hand {
    height: 30px;
    margin-left: -30px;
  }
}

@media all and (max-width: 500px) { /* screen size until 500px */
  body {
    font-size: 0.8em; /* 0.8x default size */
  }
  
  #easyskyCarousel .item {
    height: 450px;
  }
  
  .circle {
    width: 100px;
    height: 100px;
    line-height: 100px;
  }
  
  .how-image {
    width: 50px;
    height: 50px;
  }
  
  .circle .how-image--2 {
    margin-left: 14px;
  }
  
  .hand-logo {
    height: 300px;
  }
  
  .bullet-hand {
    height: 20px;
    margin-left: -20px;
  }
  
  .social-buttons > li {
    margin-right: 10px;
  }
  
}

@media all and (max-width: 320px) {  
  body {
    font-size: 0.55em; /*1rem = 16px*/
  }
  
  #easyskyCarousel .item {
    height: 300px;
  }
  
  .container--home h1,
  .container--home h2 {
    margin-top: 10px;
  }
  
  .about-us__info {
    padding: 20px 0;
  }
  
  .hand-logo {
    height: 150px;
  }
  
}
